html, body{ margin:0px 0px; width: 100%;}

@font-face {
    font-family: 'Academic';
    src: url('/fonts/Neue Haas Grotesk Display/MIT.ttf');
}

@font-face {
    font-family: 'Academic';
    src: url('/fonts/Neue Haas Grotesk Display/MIT-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Academic';
    src: url('/fonts/Neue Haas Grotesk Display/MIT-italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Academic';
    src: url('/fonts/Neue Haas Grotesk Display/MIT-bold-italic.ttf');
    font-style: italic;
    font-weight: bold;
}

#hero {
  background: black;
  background-size:cover;
  position:relative;
  height:100vh;
  font-family: 'Academic', 'Menlo', sans-serif;
}

#helper {
    font-family: 'Menlo', sans-serif;
}

.err {
    color: rgb(235, 50, 90);
}

.ok {
    color: white;
}

.great {
    color: #27ae60;
}

.header {
  position:absolute;
  top:45%;
  text-align:center;
  width:100%;
  color:white;
  -ms-transform: translate(0,-45%); /* IE 9 */
  -webkit-transform: translate(0,-45%); /* Safari */
  transform: translate(0,-45%);
}

.header .lead {
  text-align:center!important;
  color:white!important;
}

.lead {
  font-size: 17pt;
  font-family: 'Academic', 'Menlo', sans-serif;
  font-weight: 300!important;
  color: grey!important;
  line-height: 130%!important;
  text-align: justify;
}

.lead a {
    color: white!important;
}

a {
  color: rgb(0, 210, 255);
  text-decoration: none!important;
}

a:hover {
  color: rgb(0, 176, 214)!important;
}

#gameField {
    font-size: 30pt;
    background: transparent;
    border: 0;
    border-bottom: 4px solid white;
    font-weight: bold;
    color: white;
    padding: 5px;
    text-align: center;
}


@media only screen and (max-width: 500px) {
  .lead {
    width: 300px;
    font-size: 11pt;
  }

  #gameField {
      font-size: 17pt;
  }
}